
@{
    ViewBag.Title = "Acerca";
}

<div class="row">
    <div class="col-md-12 d-flex justify-content-center py-md-3 my-md-2 bg-warning border-bottom shadow-sm rounded">
        <h2>Acerca de nosotros</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6 d-flex justify-content-center bg-dark py-md-3 rounded border-right border-white">
        <table>
            <thead class="d-flex justify-content-center pb-md-2 bg-dark text-light">
                <tr><th><h4>Jesús Francisco Estévez Aquino</h4></th></tr>
            </thead>
            <tbody class="text-light align-content-center">
                <tr class="d-flex justify-content-center"><td class="border border-dark p-md-2 bg-info rounded"><img class="border border-dark rounded" src="~/Images/Jesus-Estevez.jpeg" width="225" height="350" /></td></tr>
                <tr class="d-flex justify-content-center pt-2"><td><span class="text-warning">Cédula:</span> 402-1402107-9</td></tr>
                <tr class="d-flex justify-content-center"><td><span class="text-warning">Ocupación:</span> Estudiante</td></tr>
                <tr class="d-flex justify-content-center"><td><span class="text-warning">Matricula:</span> 2018-6299</td></tr>
                <tr class="d-flex justify-content-center"><td><span class="text-warning">Pasatiempos:</span> Jugar online, programar, ver series y animes.</td></tr>
                <tr class="d-flex justify-content-center text-justify"><td><span class="text-warning">Herramientas que maneja:</span> HTML5, CC3, Bootstrap, JS, Angular 8, Angular Material, C#, Framework .Net, MSQL y TSQL.</td></tr>
                <tr class="d-flex justify-content-center text-justify"><td><span class="text-warning">Modulos que desarrollo:</span> Login con Facebook, Conversor de unidades, Contenido (Noticias, música y peliculas) y su parte del acerca de.</td></tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 d-flex justify-content-center bg-dark py-md-3 rounded border-left border-white">
        <table>
            <thead class="d-flex justify-content-center pb-md-2 bg-dark text-light">
                <tr><th><h4>Erlyn Enmanuel Taveras Villaman</h4></th></tr>
            </thead>
            <tbody class="text-light align-content-center">
                <tr class="d-flex justify-content-center"><td class="border border-dark p-md-2 bg-info rounded"><img class="border border-dark rounded" src="https://scontent-mia3-2.xx.fbcdn.net/v/t1.0-9/77061785_2442912026025392_8277780629534277632_n.jpg?_nc_cat=109&amp;_nc_sid=09cbfe&amp;_nc_ohc=I6Fgh_d7OsEAX_1RNsM&amp;_nc_ht=scontent-mia3-2.xx&amp;oh=d772f9ba790ec025694475d0e3198953&amp;oe=5EFF1C15" width="225" height="350" /></td></tr>
                <tr class="d-flex justify-content-center pt-2"><td><span class="text-warning">Cédula:</span> 402-1199335-3</td></tr>
                <tr class="d-flex justify-content-center"><td><span class="text-warning">Ocupación:</span> Estudiante</td></tr>
                <tr class="d-flex justify-content-center"><td><span class="text-warning">Matricula:</span> 2018-6304</td></tr>
                <tr class="d-flex justify-content-center"><td><span class="text-warning">Pasatiempos:</span> Jugar ajedrez, programar, ver series y animes.</td></tr>
                <tr class="d-flex justify-content-center text-justify"><td><span class="text-warning">Herramientas que maneja:</span> HTML5, CC3, Bootstrap, JS, Angular 8, Angular Material, C#, Framework .Net, MSQL y TSQL.</td></tr>
                <tr class="d-flex justify-content-center text-justify"><td><span class="text-warning">Modulos que desarrollo:</span> Formulario de registro de datos, Lector de archivos XLS y la información sobre mí.</td></tr>
            </tbody>
        </table>
    </div>
</div>


