
@{
    ViewBag.Title = "Musica";
}

<div class="row">
    <div class="col-md-12 d-flex justify-content-center py-md-3 my-md-2 bg-warning text-dark border-bottom shadow-sm rounded">
        <h2>Música</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-12 d-flex justify-content-center bg-info px-md-2 py-md-2 rounded">
        <table>
            <tbody>
                <tr>
                    <td><a href="https://www.spotify.com/do/"><img width="450" src="https://d500.epimg.net/cincodias/imagenes/2015/07/02/lifestyle/1435829625_054655_1435829694_noticia_normal.jpg" /></a></td>
                    <td><a href="https://www.deezer.com/es/"><img width="450" src="https://cdn.elgrupoinformatico.com/Manuales/2019/10/deezer-logo-1300x650.jpg" /></a></td>
                </tr>
                <tr>
                    <td><a href="https://play.google.com/music/listen"><img width="450" src="https://www.softzone.es/app/uploads/2017/07/Google-Play-Music.jpg" /></a></td>
                    <td><a href="https://groovesharks.org/"><img width="450" src="https://www.phonetransfer.org/wp-content/uploads/2016/08/grooveshark-music-downloader.png" /></a></td>
                </tr>
                <tr>
                    <td><a href="https://www.beatsbydre.com/support/how-to/music-sharing"><img width="450" src="https://i.blogs.es/3be9f8/650_1000_beats-music/450_1000.jpg" /></a></td>
                    <td><a href="https://www.amazon.com/music/prime"><img width="450" src="https://assets.pcmag.com/media/images/564813-amazon-music.jpg" /></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>