
@{
    ViewBag.Title = "Noticias";
}

<div class="row">
    <div class="col-md-12 d-flex justify-content-center py-md-3 my-md-2 bg-warning border-bottom shadow-sm rounded">
        <h2>Noticias</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-6 d-flex justify-content-center bg-dark py-md-1 rounded-left">
        <table>
            <thead class="d-flex justify-content-center bg-dark text-light">
                <tr><th><h4>Locales</h4></th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://noticiassin.com/"><img width="450" src="https://noticiassin.com/wp-content/themes/sin2018/imagenes/general-bg.jpg" /></a></td>
                </tr>
                <tr>
                    <td><a href="https://cdn.com.do/"><img width="450" src="https://www.elmuro360.com/images/noticias/opinion/2017/cdn37.jpg" /></a></td>
                </tr>
                <tr>
                    <td><a href="https://rnn.com.do/"><img width="450" src="https://pbs.twimg.com/media/DDp2dNTVoAAHuCU.jpg" /></a></td>
                </tr>
                <tr>
                    <td><a href="https://listindiario.com/"><img width="450" src="https://www.naturacabana.com/content/wp-content/uploads/2016/05/listin-diario.png" /></a></td>
                </tr>
                <tr>
                    <td><a href="https://hoy.com.do/"><img width="450" src="https://hoy.com.do/wp-content/uploads/2016/11/periodicohoy.jpg" /></a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 d-flex justify-content-center bg-dark py-md-1 rounded-right">
        <table>
            <thead class="d-flex justify-content-center bg-dark text-light">
                <tr><th><h4>Internacionales</h4></th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="https://www.bbc.com/mundo"><img width="450" src="https://c.files.bbci.co.uk/082A/production/_101809020_bbcnewsmundo_976.png" /></a></td>
                </tr>
                <tr>
                    <td><a href="https://actualidad.rt.com/"><img width="450" height="256" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/Russia-today-logo.svg/1200px-Russia-today-logo.svg.png" /></a></td>
                </tr>
                <tr>
                    <td><a href="https://edition.cnn.com/"><img width="450" height="280" src="https://cdn.cnn.com/cnn/.e/img/3.0/global/misc/cnn-logo.png" /></a></td>
                </tr>
                <tr>
                    <td><a href="https://www.nytimes.com/"><img width="450" height="300" src="https://www.powersphyr.com/wp-content/uploads/2019/04/the-new-york-times-logo.jpg" /></a></td>
                </tr>
                <tr>
                    <td><a href="https://mundo.sputniknews.com/"><img width="450" src="https://mundo.sputniknews.com/i/logo-social.png" /></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>