
@{
    ViewBag.Title = "Peliculas";
}

<div class="row">
    <div class="col-md-12 d-flex justify-content-center py-md-3 my-md-2 bg-warning border-bottom shadow-sm rounded">
        <h2>Películas</h2>
    </div>
</div>

<div class="row">
    <div class="col-md-3 d-flex justify-content-center bg-dark py-md-1 rounded border-right border-white">
        <table>
            <thead class="d-flex justify-content-center bg-dark text-light">
                <tr><th><h4>Acción y Aventuras</h4></th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/MJIz2gf3Wa8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/TcMBFSGVi1c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/t3DpuQrBivU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/AzKkTC0ZiXs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/q5v7Ch4bxzc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3 d-flex justify-content-center bg-dark py-md-1 rounded border-left border-right border-white">
        <table>
            <thead class="d-flex justify-content-center bg-dark text-light">
                <tr><th><h4>Dramas</h4></th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/IfB65qjLbwc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/BKuDz3pxi7I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/Z7SiFLgoFQM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/ylRjiS94Om8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/S3vO8E2e6G0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3 d-flex justify-content-center bg-dark py-md-1 rounded border-left border-right border-white">
        <table>
            <thead class="d-flex justify-content-center bg-dark text-light">
                <tr><th><h4>Infantiles</h4></th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/xBgSfhp5Fxo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/SbXIj2T-_uk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/JcpWXaA2qeg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/mb79ctR-E-c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/ORFWdXl_zJ4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-3 d-flex justify-content-center bg-dark py-md-1 rounded border-left border-white">
        <table>
            <thead class="d-flex justify-content-center bg-dark text-light">
                <tr><th><h4>Documentales</h4></th></tr>
            </thead>
            <tbody>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/MGBF7ONBeN8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/msjlBHoTKwY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/lW9otKaflV4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/79Q2rrQlPW4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
                <tr>
                    <td><iframe width="250" height="200" src="https://www.youtube.com/embed/GN_M3u7GWgo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

